<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>


        <form method="post">
            <label for="nomeTarefa">Nome da Tarefa: </label>
            <input type="text" name="nomeTarefa" id="nomeTarefa">

            <label for="descricaoTarefa">Descricao Tarefa: </label>
            <input type="text" name="descricaoTarefa" id="descricaoTarefa">

            <label for="statusTarefa">Status Tarefa: </label>
            <select id="status" name="status">
                <option value="concluido">Concluído</option>
                <option value="finalizado">Na metade</option>
                <option value="metade">Finalizado</option>
            </select>
            <button type="submit">Salvar</button>
        </form>
        </form>

    
</body>
</html>